<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>

</style>
<body>
    <h1>Registartion form</h1>
    <form id="form">
        <input type="text" placeholder="username" id="username">
        <input type="email" placeholder="email" id="email">
        <input type="password" placeholder="password" id="password">
        <input type="confirm" placeholder="confim password" id="confirm">
        <button id="submit" onclick="submit"> submit </button>
    </form>
</body>
<script>

</script>
</html>